

{% macro displayNewsList(news_list) %}

{% for news in news_list %}
<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 news-card">
    <p>{{news.name}}</p>
        <a href='/headlines/{{news.id}}'>
            
        view headlines</a>
    
</div>
{% endfor %}
{% endmacro %}


{% macro displayarticles(headlines) %}
{% for articles in headlines %}
<div class=' col-md-4 headlines-card'>
    <h2>{{articles.title}}</h2>
    <a href="{{articles.url}}">url</a>
    <img src="{{articles.urlToImage }}" class="img-fluid w-25px">
    <p>{{articles.description}}</p>
    <p>{{articles.publisedAt}}</p>
    
</div>
{% endfor %}
{% endmacro %}

